/* styles.css */

/* Общие стили для тела документа */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Стили заголовка */
header {
    background: #283593;
    color: white;
    padding: 20px 0;
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 2.5em;
}

p {
    font-size: 1.2em;
}

/* Основные стили */
main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Стили секций */
section {
    margin-bottom: 40px; /* Увеличен отступ */
}

h2 {
    border-bottom: 2px solid #283593;
    padding-bottom: 10px;
    color: #283593;
}

/* Стили для списков */
ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

/* Стили ссылок */
a {
    color: #1e88e5;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #ffca28;
}

/* Стили подвала */
footer {
    text-align: center;
    padding: 10px 0;
    background: #283593;
    color: #ffffff;
    position: relative;
    bottom: 0;
    width: 100%;
}

footer p {
    margin: 5px 0;
}

footer a {
    color: #cccccc; /* Светло-серые ссылки */
}

footer a:hover {
    color: #ffca28; /* Желтые при наведении */
}
